@import "tailwindcss";

@theme {
  --color-zinthOrange: #FF5F00;
  --color-zinthWhite: #F8F9FA;
  --color-zinthGrey: #5A5A5A;
  --color-zinthBlack: #0B0B0B; /* neutral-150 black */
}

html, body {
  width: 100%;
  height: 100%;
  background-color: var(--color-zinthBlack);
  color: var(--color-zinthWhite);
}

@font-face {
  font-family: "ClashDisplay";
  src: url("/src/assets/fonts/ClashDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee {
  animation: marquee 30s linear infinite;
}
